body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
}

#questions-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.question {
    display: block;
    text-align: center;
}

.question h2 {
    font-size: 24px;
    color: #333; /* Dark gray color for the question header */
    margin-bottom: 10px;
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add some letter spacing for emphasis */
    border-bottom: 2px solid #4CAF50; /* Green border at the bottom of the header */
    padding-bottom: 5px; /* Add some padding at the bottom of the header */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.answers {
    display: flex;
    justify-content: center;
}

.answer-btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.answer-btn:hover {
    background-color: #45a049;
}

#final-score {
    text-align: center;
    margin-top: 50px;
}
